extends layout

block content
	h1 #{title}
	br
	.ui.one.column.center.aligned.grid
	.column.six.wide.form-holder
		form.ui.form(method='POST', action='/posts/add')
				.field
					label Title:
					input(name='title', type="text")
				.field
					label Body:			
					textarea(name='body')
				br
				.field
					input.ui.button.large.fluid.green(type="submit" value="submit")
